$bg-color: yellow;
$border-color: red;

.header-wrapper {
  padding: 5px;
  border: 1px solid $border-color;
  display: flex;
}

.category-wrapper {
  border: 1px solid $border-color;
  margin: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.w-10 {
  width: 150px;
}
.h-10 {
  height: 120px;
}

.mr-10 {
  margin-right: 10px;
}
