$bg-color: yellow;
$border-color: red;

.header-wrapper {
  padding: 5px;
  border: 1px solid $border-color;
  display: flex;
}

.category-wrapper {
  border: 1px solid $border-color;
  margin: 5px;
}
