@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import './full-screen-loading.scss';
@import './tooltip-overried.scss';

body {
  margin: 0;
  background-color: #fafafa;
}
html {
  color: #4d4d4d;
  font-family: 'Open Sans';
}
